/* home.css */
.homenews {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.homenews-content {
  background-color: #fefefe;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 800px; /* Set maximum width if needed */
  display: flex; /* Use flexbox for layout */
  position: relative;

}

.homenews-close {
  color: #aaaaaa;
  position: absolute;
  top: 10px; /* Adjust top position as needed */
  right: 10px; /* Adjust right position as needed */
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.homenews-close:hover,
.homenews-close:focus {
  color: #000;
  text-decoration: none;
}

.popup-content {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Vertically center items */
}

.popup-image {
  flex: 1; /* Take up all available space */
  max-width: 50%; /* Limit the width to half of the popup */
  height: auto; /* Maintain aspect ratio */
}

.popup-text {
  flex: 1; /* Take up the remaining space */
}

.popup-text h2 {
  margin-top: 30px; 
  font-size: 15px;
  margin-right: 50px;
  margin-left: 10px;
}

.popup-text p {
  font-family: "Raleway", sans-serif;
  text-transform: none; /* Remove uppercase transformation */
  font-size: 13px;
  line-height: 1.5;  
  text-align: left;  
  margin-top: 20px; 
  margin-right: 50px;
  margin-left: 10px;
  margin-bottom: 30px;
  letter-spacing: 1px; /* Adjust the letter spacing as needed */
}

.popup-text .read-more-btn {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000; 
  border-radius: 0px;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.popup-text .read-more-btn:hover {
  color: #ffffff;
  background-color: #000000;
}

