* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.sectionWel {
    background: #F2EFF7;
    height: 400px;
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;

}

.sectionWel h1 {
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.sectionWel p {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    line-height: 1.5;  
    text-align: center;  
    margin: 40px; 
    margin-left: 60px;
    margin-right: 60px;
}
  
.section1 {
    background: #ec9f48;
    height:600px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 8px;
}
  
.section2 {
    background: #A1D0B8;
    height:600px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 8px;
}
  
.section3 {
    background: #9BC6DA;
    height:600px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.section4 {
    background: #F5F1F1;
    height:1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.section4 h1 {
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin: 20px;
    margin-bottom: 100px;
}

.popup-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-gap: 20px; /* Adjust the gap between items */
    width: 80%;  
    margin: 0 auto;
}

.popup-item {
    text-align: center; 
}

.popup-item img {
    cursor: pointer;  
}

.news-title h2 {
    font-family: "Raleway", sans-serif;
    font-size: 14px;  
    letter-spacing: 1px;
    text-transform: none;  
    text-align: center;  
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
    margin-left: 40px;
}

.news-title p {
    font-family: "Raleway", sans-serif;
    font-size: 12px; 
    letter-spacing: 1px;
    text-transform: none;  
    text-align: center;  
    margin-top: 10px;
    margin-bottom: 20px;
}

.learn-more-btn {
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #000000; 
    border-radius: 0px;
    padding: 10px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.learn-more-btn:hover {
    color: #ffffff;
    background-color: #000000;
}
