body {
    font-family: Arial, sans-serif;
    background-color: #EDEBDD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
}

#uvLevelSelect {
    margin-bottom: 20px;
}

#time {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    background-color: #D18585;
    border: none;
    color: white;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #3e8e41;
}

/* styles.css */
.button-container {
    margin-top: 10px;
}

.button-container button {
    margin-right: 10px;
}
