* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.sectionWel {
    background: #F2EFF7;
    height: 400px;
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
}

.sectionWel h1 {
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.sectionWel p {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    line-height: 1.5;  
    text-align: center;  
    margin: 40px; 
    margin-left: 60px;
    margin-right: 60px;
}

.section1 {
    background: #9BC6DA;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.browser-container {
    width: 80%;
    max-width: 800px;
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.browser-frame {
    position: relative;
    height: 100%;
}

.button {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 50%;
}

.minimize {
    background-color: #FFD966;
}

.maximize {
    background-color: #66BB6A;
}

.close {
    background-color: #EF5350;
}

.address-bar {
    height: 40px;
    background: #f0f0f0;
    border-bottom: 2px solid #ccc;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.tab {
    cursor: pointer;
    padding: 10px 20px;
    border-right: 1px solid #ccc;
    background-color: #f0f0f0;
}

.tab.active {
    background-color: #9b9797; /* Change this to the desired color */
}

.tab:last-child {
    border-right: none;
}

.tab:hover {
    background-color: #ddd;
}

.tab-content {
    display: none;
    height: 500px;
    width: 800px;

}

.tab-content.active {
    display: block;
}
  
/* Add specific styling for the map container */
#map {
    height: 500px; /* Set the desired height for the map */
    width: 100%; /* Ensure the map takes up the full width of its container */
}

/* Adjust the size of the Leaflet container */
.leaflet-container {
    height: 100%; /* Set height to 100% to fill its parent container */
    width: 100%; /* Set width to 100% to fill its parent container */
}

