html {
  scroll-behavior: smooth;
}

.sectionWel {
  background: #F2EFF7;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sectionWel h1 {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.sectionWel p {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
  margin: 40px;
  margin-left: 60px;
  margin-right: 60px;
}

.section1 {
  background: #f3e4d7;
  height: auto; /* Change to auto so it adjusts based on content */
  padding: 20px;
}

.map {
  width: 100%; 
  height: 500px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.map-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-container {
  display: flex; /* Change from default block layout to flex */
  justify-content: center; /* Center the tabs horizontally */
  margin-bottom: 20px;
}

.tab {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #ccc;
  border-radius: 5px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.tab.active {
  background-color: #999;
}

.tab:hover {
  background-color: #999;
}

.dropdown {
  display: none; /* Initially hide dropdowns */
  margin-top: 10px; /* Adjust margin as needed */
  align-items: center; /* Center the dropdown horizontally */
  margin-bottom: 20px;
}

.dropdown select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
}
