* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.sectionWel {
    background: #F2EFF7;
    height: 250px;
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;

}

.sectionWel h1 {
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.sectionWel p {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    line-height: 1.5;  
    text-align: center;  
    margin: 40px; 
    margin-left: 60px;
    margin-right: 60px;
}
  
.section1 {
    background: #e2aac4;
    height:600px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 8px;
}
  
.section2 {
    background: #A1D0B8;
    height:600px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 8px;
}
