/* Resetting default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #EDEBDD;
    text-align: center;
}

/* Navigation bar styles */
nav {
    background-color: #EDEBDD;
    color: #D18585;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
}

/* Logo styles */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 150px;
    height: auto;
    margin-right: 0px;
}

.logo h1 {
    font-size: 24px;
    color: #D18585;
    margin-right: 50px;
}

/* Centered text */
.center-text {
    margin-top: 20px;
}

.center-text h2 {
    margin-bottom: 20px;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #EDEBDD;
    border-radius: 8px;
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Footer styles */
footer {
    background-color: #7DA19D; /* The color you want for your footer */
    padding: 20px 0; /* Adjust padding as needed */
    display: flex; /* Enable flexbox for layout */
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Align the items vertically */
    bottom: 0;
    width: 100%;
}

/* Footer link styles */
footer a {
    text-decoration: none;
    color: #fff; /* Set text color for footer links */
    margin: 0 10px; /* Adjust margin to add spacing between links */
}
