/* Resetting default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #EDEBDD; 
}

/* Navigation bar styles */
nav {
    background-color: #EDEBDD; 
    color: #D18585; 
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000000; 
}

/* Logo styles */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 150px; /* Set your desired width */
    height: auto;
    margin-right: 0px;
}

.logo h1 {
    font-size: 24px; /* Set your desired font size */
    color: #D18585;
    margin-right: 50px;
}

/* Content styles */
.content {
    display: flex;
    flex-direction: column; /* Adjust for vertical layout */
    align-items: center; /* Center horizontally */
    margin-top: 20px;
}

p {
    margin-top: 15px; /* Add spacing between elements */
}

.weather-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.weather-item {
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.weather-item h2 {
    font-size: 18px;
}

/* Search container styles */
.search-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Input field styles */
.search-container input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
}

/* Search button styles */
.search-container button {
    padding: 10px 20px;
    background-color: #D18585;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/* Hover effect for the search button */
.search-container button:hover {
    background-color: #B25E6E;
}

/* Footer styles */
footer {
    background-color: #7DA19D; /* The color you want for your footer */
    padding: 20px 0; /* Adjust padding as needed */
    display: flex; /* Enable flexbox for layout */
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Align the items vertically */
    bottom: 0;
    width: 100%;
}

/* Footer link styles */
footer a {
    text-decoration: none;
    color: #fff; /* Set text color for footer links */
    margin: 0 10px; /* Adjust margin to add spacing between links */
}
