* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.sectionWel {
  background: #F2EFF7;
  height: 500px;
  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo-container img {
  max-width: 60%; /* Adjust this value as needed */
  height: auto; /* This maintains the aspect ratio */
  margin: auto; /* Center the image horizontally */
  margin-bottom: 10px; /* Adjust this value to reduce space between the image and h1 */
}

.sectionWel h1 {
  font-family: "Raleway", sans-serif;
  font-size: 32px; /* Remove the space between 32 and px */
  text-transform: uppercase;
  letter-spacing: 8px;
  margin-bottom: 10px; /* Adjust this value to reduce space between h1 and p */
}

.sectionWel p {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 1.5;  
  text-align: center;
  margin-top: 10px;  
  margin-left: 60px;
  margin-right: 60px;
}

.section1 {
  background: #ffffff;
  height:600px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.slogan-section {
    position: relative;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px; /* Make the section full viewport height, or adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center; /* This will center the text horizontally and vertically */
  }

  .slogan-text {
    font-size: 70px;
    color: #5bc3ff;
    opacity: 0.7; /* Adjust the opacity to your liking */
    animation: pop-up 2s ease-out infinite;
  }
/* Keyframes for the pop-up animation */
@keyframes pop-up {
    0%, 100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    50% {
        transform: translate(-50%, -50%) scale(1.1); /* Scale up slightly for popping effect */
        opacity: 1;
    }
}


.section2 {
    background: #a6ccb8;
    height:400px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.section2 h1 {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin-bottom: 10px; 
  text-align: center;
  margin-bottom: 20px;
}

.section2 p {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 1.5;  
  text-align: center;
  margin-top: 10px;  
  margin-left: 60px;
  margin-right: 60px;
}
.small-image {
  display: block; 
  margin: 0 auto; 
  width: 300px;
  height: auto;
  margin-bottom: 20px;
}


.info-section,
.suburban-section {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align items on opposite ends */
    padding: 20px 10%; /* Add padding inside the sections, and reduce the width */
    box-sizing: border-box; /* Make sure padding is included in the width */
}

/* Styling for the content part */
.info-section .content,
.suburban-section .content {
    max-width: 50%; /* Limit the width to half of the container */
    margin-right: 2%; /* Add some margin between text and button */
}

/* Styling for the button container part */
.info-section .button-container,
.suburban-section .button-container {
    max-width: 30%; /* Limit the width to less than half of the container */
    margin-left: 2%; /* Add some margin between text and button */
}


/* Add a general rule for the sections to ensure they do not exceed the viewport width */
section {
    max-width: 100%; /* This ensures the section does not exceed the width of the page */
    overflow: hidden; /* Prevents content from overflowing the section's boundaries */
    box-sizing: border-box; /* Ensures that padding is included within the width */
  }
  
  /* Styles for the slogan section */
  .section1 .slogan-section {
    position: relative;
    text-align: center; /* Center slogan text */
  }
  
  .section1 .background-image {
    width: 100%;
    height: auto;
    display: block; /* Ensures the image fits within the container */
  }
  
  .section1 .slogan-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Adjust font-size and color as needed */
  }
  
  /* Styles for sections with content and buttons */
  .section2,
  .section3 {
    display: flex;
    justify-content: space-between; /* Align items on opposite ends */
    align-items: center; /* Center items vertically */
    padding: 20px; /* Adjust padding as needed */
    margin: auto; /* Center sections horizontally */
  }
  
  /* Ensure the content and button containers do not exceed half the width of the section */
  .section2 .content,
  .section3 .content,
  .section2 .button-container,
  .section3 .button-container {
    flex-basis: 38%; /* Adjust this percentage based on your design needs */
    padding: 10px; /* Adds padding within the containers */
  }
  
  .info-btn {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF; /* Adjust to your preferred color */
    background-image: linear-gradient(to right, #007BFF 0%, #009FFF 51%, #007BFF 100%);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    font-size: 1em;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  /* Shimmer effect using pseudo-elements */
  .info-btn::before, .info-btn::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
    transition: all 0.3s ease;
  }
  
  .info-btn::before {
    opacity: 0;
    transition-duration: 0.3s;
    transition-timing-function: step-end;
  }
  
  .info-btn::after {
    opacity: 0;
    transition-duration: 0.3s;
    transition-timing-function: step-start;
  }
  
  .info-btn:hover::before {
    opacity: 1;
    transform: translateX(-100%);
  }
  
  .info-btn:hover::after {
    opacity: 1;
    transform: translateX(100%);
  }
  
  /* Dynamic hover effect */
  .info-btn:hover {
    background-size: 200% auto; /* Increase background size for dynamic gradient effect */
    background-position: right center; /* Change background position */
  }
  
  
  
  /* Responsive adjustments */
  @media screen and (max-width: 768px) {
    .section2, .section3 {
      flex-direction: column; /* Stack the elements on smaller screens */
      text-align: center; /* Center the content */
    }
  
    .section2 .content,
    .section3 .content,
    .section2 .button-container,
    .section3 .button-container {
      flex-basis: 100%; /* Allow each container to take full width on smaller screens */
      padding: 10px 0; /* Adjust padding for smaller screens */
    }
  
    .info-btn,
    .suburban-btn {
      width: 100%; /* Full width for buttons on smaller screens */
    }
  }

  
.section3 {
    background: #f3e4d7;
    height:400px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;;
}

.section3 h1 {
font-family: "Raleway", sans-serif;
font-size: 32px; /* Remove the space between 32 and px */
text-transform: uppercase;
letter-spacing: 8px;
margin-bottom: 10px; /* Adjust this value to reduce space between h1 and p */
text-align: center;
margin-bottom: 20px;
}
.section3 p {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 1.5;  
  text-align: center;
  margin-top: 10px;  
  margin-left: 60px;
  margin-right: 60px;
}
/* Adjust the alignment for the Suburban Portal section to be the opposite */
.suburban-section {
    flex-direction: row-reverse; /* Flip the order of elements */
}


.suburban-btn {
    padding: 10px 20px;
    border: none; /* Remove borders */
    background-color: #8A2BE2; /* Starting color for the button */
    background-image: linear-gradient(to right, #8A2BE2 0%, #9B30FF 51%, #8A2BE2 100%);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    font-size: 1em;
    position: relative; /* Needed for the pseudo-elements used in the shimmer effect */
    overflow: hidden; /* Ensures the pseudo-elements are clipped to the button shape */
    transition: all 0.3s ease; /* Transition for smooth hover effect */
    cursor: pointer; /* Cursor changes to pointer to indicate a button */
  }
  
  /* Before and after pseudo-elements for the shimmer effect */
  .suburban-btn::before, .suburban-btn::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
    transition: all 0.3s ease;
  }
  
  .suburban-btn::before {
    opacity: 0;
    transition-duration: 0.3s;
    transition-timing-function: step-end;
  }
  
  .suburban-btn::after {
    opacity: 0;
    transition-duration: 0.3s;
    transition-timing-function: step-start;
  }
  
  .suburban-btn:hover::before {
    opacity: 1;
    transform: translateX(-100%);
  }
  
  .suburban-btn:hover::after {
    opacity: 1;
    transform: translateX(100%);
  }
  
  /* Hover effect to change the button size and background position */
  .suburban-btn:hover {
    background-size: 200% auto; /* Increase background size for dynamic gradient effect */
    background-position: right center; /* Change background position */
    color: #FFF; /* Optional: Change the text color on hover if needed */
  }
  

.section4 {
    background: #F5F1F1;
    height:1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.section4 h1 {
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin: 20px;
    margin-bottom: 100px;
}

.popup-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    grid-gap: 20px;  
    width: 80%;  
    margin: 0 auto;
}

.popup-item {
    text-align: center; 
}

.popup-item img {
    cursor: pointer;  
}

.news-title h2 {
    font-family: "Raleway", sans-serif;
    font-size: 14px;  
    letter-spacing: 1px;
    text-transform: none;  
    text-align: center;  
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
    margin-left: 40px;
}

.news-title p {
    font-family: "Raleway", sans-serif;
    font-size: 12px; 
    letter-spacing: 1px;
    text-transform: none;  
    text-align: center;  
    margin-top: 10px;
    margin-bottom: 20px;
}

.learn-more-btn {
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #000000; 
    border-radius: 0px;
    padding: 10px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.learn-more-btn:hover {
    color: #ffffff;
    background-color: #000000;
}





