* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.sectionWel {
  background: #F2EFF7;
  height: 500px;
  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo-container img {
  max-width: 60%; /* Adjust this value as needed */
  height: auto; /* This maintains the aspect ratio */
  margin: auto; /* Center the image horizontally */
  margin-bottom: 10px; /* Adjust this value to reduce space between the image and h1 */
}

.sectionWel h1 {
  font-family: "Raleway", sans-serif;
  font-size: 32px; /* Remove the space between 32 and px */
  text-transform: uppercase;
  letter-spacing: 8px;
  margin-bottom: 10px; /* Adjust this value to reduce space between h1 and p */
}

.sectionWel p {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 1.5;  
  text-align: center;
  margin-top: 10px;  
  margin-left: 60px;
  margin-right: 60px;
}

.section1 {
  background: #ffffff;
  height:600px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.slogan-section {
    position: relative;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px; /* Make the section full viewport height, or adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center; /* This will center the text horizontally and vertically */
  }

  .slogan-text {
    font-size: 70px;
    color: #5bc3ff;
    opacity: 0.7; /* Adjust the opacity to your liking */
    animation: pop-up 2s ease-out infinite;
  }
/* Keyframes for the pop-up animation */
@keyframes pop-up {
    0%, 100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    50% {
        transform: translate(-50%, -50%) scale(1.1); /* Scale up slightly for popping effect */
        opacity: 1;
    }
}


.section2 {
  background: #a6ccb8;
  height: 400px;
  display: flex;
  flex-direction: column; /* Change flex direction to column */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  text-align: center; 
}

.section2 h1 {
  font-family: "Raleway", sans-serif;
  font-size: 32px; /* Remove the space between 32 and px */
  text-transform: uppercase;
  letter-spacing: 8px;
  color: #000000; /* Change heading color to white */
  margin-bottom: 10px; /* Adjust this value to reduce space between h1 and p */
}


.section2 .content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Add margin to separate content from heading */
}

.section2 .text-container {
  width: 50%; /* Adjust text container width */
}

.section2 .text-container p {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 1.5;  
  text-align: center;
  margin-top: 10px;  
  margin-left: 60px;
  margin-bottom: 60px;
}

.section2 .info-btn {
  background-color: #2c3e50; /* Change button background color */
  color: #ffffff; /* Change button text color */
  padding: 10px 20px; /* Add padding to the button */
  text-decoration: none;
  border-color: none;
  transition: background-color 0.3s ease; /* Add transition effect */
}

.section2 .info-btn:hover {
  background-color: #ffffff; /* Change button background color on hover */
  color: #000000; /* Change button text color */
  border: 1px solid #000000; /* Add black border */

}

.section2 .image-container {
  width: 50%; /* Adjust image container width */
}

.section2 .image-container img {
  max-width: 100%; /* Ensure image doesn't exceed container width */
  height: auto; /* Maintain aspect ratio */
  max-height: 260px; /* Set a maximum height for the image */
}



.section3 {
  background: #f3e4d7;
  height:400px;
  display: flex;
  flex-direction: column; /* Change flex direction to column */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  text-align: center;
}

.section3 h1 {
  font-family: "Raleway", sans-serif;
  font-size: 32px; /* Remove the space between 32 and px */
  text-transform: uppercase;
  letter-spacing: 8px;
  color: #000000; /* Change heading color to white */
  margin-bottom: 10px; /* Adjust this value to reduce space between h1 and p */
}


.section3 .content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Add margin to separate content from heading */
}

.section3 .text-container {
  width: 50%; /* Adjust text container width */
}

.section3 .text-container p {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 1.5;  
  text-align: center;
  margin-top: 10px;  
  margin-right: 60px;
  margin-bottom: 60px;
}

.section3 .suburban-btn {
  background-color: #2c3e50; /* Change button background color */
  color: #fff; /* Change button text color */
  padding: 10px 20px; /* Add padding to the button */
  text-decoration: none;
  transition: background-color 0.3s ease; /* Add transition effect */
}

.section3 .suburban-btn:hover {
  background-color: #ffffff; /* Change button background color on hover */
  color: #000000; /* Change button text color */
  border: 1px solid #000000; /* Add black border */}

.section3 .image-container {
  width: 50%; /* Adjust image container width */
}

.section3 .image-container img {
  max-width: 100%; /* Ensure image doesn't exceed container width */
  height: auto; /* Maintain aspect ratio */
  max-height: 260px; /* Set a maximum height for the image */
}

 

.section4 {
    background: #F5F1F1;
    height:1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.section4 h1 {
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin: 20px;
    margin-bottom: 100px;
}

.popup-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    grid-gap: 20px;  
    width: 80%;  
    margin: 0 auto;
}

.popup-item {
    text-align: center; 
}

.popup-item img {
    cursor: pointer;  
}

.news-title h2 {
    font-family: "Raleway", sans-serif;
    font-size: 14px;  
    letter-spacing: 1px;
    text-transform: none;  
    text-align: center;  
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
    margin-left: 40px;
}

.news-title p {
    font-family: "Raleway", sans-serif;
    font-size: 12px; 
    letter-spacing: 1px;
    text-transform: none;  
    text-align: center;  
    margin-top: 10px;
    margin-bottom: 20px;
}

.learn-more-btn {
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #000000; 
    border-radius: 0px;
    padding: 10px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.learn-more-btn:hover {
    color: #ffffff;
    background-color: #000000;
}





