* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.sectionWel {
    background: #F2EFF7;
    height: 400px;
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
}

.sectionWel h1 {
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.sectionWel p {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    line-height: 1.5;  
    text-align: center;  
    margin: 40px; 
    margin-left: 60px;
    margin-right: 60px;
}
  
.section1 {
    background: #a6ccb8;
    height:600px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 8px;
}
  
.section2 {
    background: #a1d0d0;
    height:600px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.section3 {
    background: #a1bdd0;
    height: 1000px;
    display: flex;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 8px;
    flex-direction: column; 
}

.section3 h3 {
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 30px;
}

.collapsible-container {
    width: 80%;  
    margin: auto; 
}

.collapsible,
.collapsible-content {
    box-sizing: border-box;  
}

.collapsible {
    background-color: #0000005e;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    padding: 18px;
    height: 80px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    margin-top: 20px;
    margin-bottom: 20px; 
    transition: margin-bottom 0.3s ease; 
}

.collapsible.active {
    margin-bottom: 0; 
}

.collapsible-content {
    background-color: #f1f1f18f;
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: none;
    overflow: hidden;
    width: 100%;
    display: none;
    height: 100px;
    padding: 20px;
    margin-bottom: 20px;
}

.active,
.collapsible:hover {
    background-color: #ffffff;
    color: #000000;
}

.collapsible.active + .collapsible-content {
    display: block;
}
